{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учителей{% endblock %}
{% block content %}
<div class="row">
  <ul>
      {% for teacher in teachers %}
      <li>
          <b>Учитель:</b> {{ teacher.name}}
          <br>
          Его ученики:
          {% for student in teacher.students.all%}
          <ul>
              <li>
                  <cite>Имя:</cite> {{ student.name }},  <cite>Группа:</cite> {{ student.group}}
              </li>
          </ul>
          {% endfor %}
      </li>
      {% endfor %}
  </ul>
</div>
{% endblock %}
